.infoProject{
  color: rgb(102, 100, 100);
  font-size: 100%;
  font-weight: 500;
}

.rowspan{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
}

.image{
  width: "32px" !important;
  height: "32px" !important;
}