
/* .cartPost:first-child, .cartPost:last-child {
  border-radius: 20px !important;
} */
.postLink{
  text-decoration: none;
}


.cartPost:hover{
  background-color: #f2f7f2;
}

.cartPost.active {
  background-color: #f2f7f2;
  border-radius: 20px 20px 0px 0px !important;
}

.linkPost{
  text-decoration: none;
  /* color: b; */
}

.linkPost:hover{
  text-decoration: underline;
  color: #314644;
}
