USE [master]
GO
/****** Object:  Database [freelance_hiring]    Script Date: 5/15/2023 11:44:24 PM ******/
CREATE DATABASE [freelance_hiring]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'freelance_hiring', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\freelance_hiring.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'freelance_hiring_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\freelance_hiring_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [freelance_hiring].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [freelance_hiring]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/15/2023 11:44:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 5/15/2023 11:44:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[role_id] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/15/2023 11:44:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_post]    Script Date: 5/15/2023 11:44:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_post](
	[posts_id] [int] NULL,
	[category_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileData]    Script Date: 5/15/2023 11:44:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileData](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[link] [varchar](200) NULL,
	[file_name] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[user_id] [int] NULL,
	[type] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_skill]    Script Date: 5/15/2023 11:44:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_skill](
	[skill_id] [int] NULL,
	[post_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 5/15/2023 11:44:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[link_apply] [varchar](200) NULL,
	[descriptions] [nvarchar](max) NULL,
	[requirement] [nvarchar](max) NULL,
	[budget] [decimal](18, 0) NULL,
	[created_by] [int] NULL,
	[working_method] [int] NULL,
	[expired] [datetime] NULL,
	[status] [int] NULL,
	[created_at] [datetime] NULL,
	[payment_method] [int] NULL,
	[address] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/15/2023 11:44:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 5/15/2023 11:44:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](100) NULL,
	[id_category] [int] NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_post]    Script Date: 5/15/2023 11:44:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_post](
	[salary] [decimal](18, 0) NULL,
	[created_at] [datetime] NULL,
	[user_id] [int] NULL,
	[post_id] [int] NULL,
	[cv_id] [int] NULL,
	[suggestion] [nvarchar](max) NULL,
	[intend_time] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_skill]    Script Date: 5/15/2023 11:44:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_skill](
	[id_user] [int] NULL,
	[id_skill] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/15/2023 11:44:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[gentle] [int] NULL,
	[age] [int] NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](50) NULL,
	[experince] [nvarchar](255) NULL,
	[account_id] [int] NULL,
	[address] [nvarchar](max) NULL,
	[decription] [nvarchar](max) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230509160708_payment-method', N'7.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230511075251_add_col_cvid', N'7.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230511084952_col-userpost', N'7.0.5')
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [Username], [Password], [role_id]) VALUES (1, N'theduyet@gmail.com', N'theduyet138', 1)
INSERT [dbo].[Account] ([id], [Username], [Password], [role_id]) VALUES (2, N'hlinh@gmail.com', N'hlinh1604', 1)
INSERT [dbo].[Account] ([id], [Username], [Password], [role_id]) VALUES (4, N'leanh@gmail.com', N'leanh', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'Kinh doanh')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'IT phần mềm ')
INSERT [dbo].[Category] ([id], [name]) VALUES (3, N'IT phần cứng')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[category_post] ([posts_id], [category_id]) VALUES (7, 3)
INSERT [dbo].[category_post] ([posts_id], [category_id]) VALUES (7, 4)
INSERT [dbo].[category_post] ([posts_id], [category_id]) VALUES (7, 2)
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [name]) VALUES (1, N'user')
INSERT [dbo].[Role] ([id], [name]) VALUES (2, N'user VIP')
INSERT [dbo].[Role] ([id], [name]) VALUES (3, N'admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Skill] ON 

INSERT [dbo].[Skill] ([id], [name], [id_category]) VALUES (1, N'Backend                                                                                             ', 2)
INSERT [dbo].[Skill] ([id], [name], [id_category]) VALUES (2, N'IT phần cứng                                                                                        ', 3)
INSERT [dbo].[Skill] ([id], [name], [id_category]) VALUES (3, N'Backend C#                                                                                          ', 2)
SET IDENTITY_INSERT [dbo].[Skill] OFF
GO
INSERT [dbo].[user_post] ([salary], [created_at], [user_id], [post_id], [cv_id], [suggestion], [intend_time]) VALUES (CAST(0 AS Decimal(18, 0)), CAST(N'2023-05-15T15:07:29.827' AS DateTime), 2, 7, 0, N'string', CAST(N'2023-05-15T15:07:29.827' AS DateTime))
GO
INSERT [dbo].[user_skill] ([id_user], [id_skill]) VALUES (2, 1)
INSERT [dbo].[user_skill] ([id_user], [id_skill]) VALUES (2, 2)
INSERT [dbo].[user_skill] ([id_user], [id_skill]) VALUES (2, 4)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [name], [gentle], [age], [phone], [email], [experince], [account_id], [address], [decription], [status]) VALUES (2, N'Nguyễn Thế DUyệt', 1, 23, N'0326807356', N'theduyet@gmail.com', N'1 năm ', 1, N'Hà Nội', NULL, 1)
INSERT [dbo].[Users] ([id], [name], [gentle], [age], [phone], [email], [experince], [account_id], [address], [decription], [status]) VALUES (3, N'Hoàng Linh', 0, 22, N'0421386931', N'hinh@gmail.com', N'2 năm kinh nghiệm content marketing', 2, N'Hà Nội', NULL, 1)
INSERT [dbo].[Users] ([id], [name], [gentle], [age], [phone], [email], [experince], [account_id], [address], [decription], [status]) VALUES (5, N'Lê Anh', 0, 20, N'0234582891', N'leanh@gmail.com', N'2 năm kinh nghiệm kế toán tổng hợp', 4, N'Quận 1, TP.Hồ Chí Minh', NULL, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_role]
GO
ALTER TABLE [dbo].[category_post]  WITH CHECK ADD  CONSTRAINT [FK_category_post_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[category_post] CHECK CONSTRAINT [FK_category_post_Category]
GO
ALTER TABLE [dbo].[category_post]  WITH CHECK ADD  CONSTRAINT [FK_category_post_Posts] FOREIGN KEY([posts_id])
REFERENCES [dbo].[Posts] ([id])
GO
ALTER TABLE [dbo].[category_post] CHECK CONSTRAINT [FK_category_post_Posts]
GO
ALTER TABLE [dbo].[FileData]  WITH CHECK ADD  CONSTRAINT [FK_File_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[FileData] CHECK CONSTRAINT [FK_File_Users]
GO
ALTER TABLE [dbo].[post_skill]  WITH CHECK ADD  CONSTRAINT [FK_post_skill_Posts] FOREIGN KEY([post_id])
REFERENCES [dbo].[Posts] ([id])
GO
ALTER TABLE [dbo].[post_skill] CHECK CONSTRAINT [FK_post_skill_Posts]
GO
ALTER TABLE [dbo].[post_skill]  WITH CHECK ADD  CONSTRAINT [FK_post_skill_Skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[Skill] ([id])
GO
ALTER TABLE [dbo].[post_skill] CHECK CONSTRAINT [FK_post_skill_Skill]
GO
ALTER TABLE [dbo].[Skill]  WITH CHECK ADD  CONSTRAINT [FK_Skill_Category] FOREIGN KEY([id_category])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Skill] CHECK CONSTRAINT [FK_Skill_Category]
GO
ALTER TABLE [dbo].[user_post]  WITH CHECK ADD  CONSTRAINT [FK_user_post_Posts] FOREIGN KEY([post_id])
REFERENCES [dbo].[Posts] ([id])
GO
ALTER TABLE [dbo].[user_post] CHECK CONSTRAINT [FK_user_post_Posts]
GO
ALTER TABLE [dbo].[user_post]  WITH CHECK ADD  CONSTRAINT [FK_user_post_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[user_post] CHECK CONSTRAINT [FK_user_post_Users]
GO
ALTER TABLE [dbo].[user_skill]  WITH CHECK ADD  CONSTRAINT [FK_user_skill_Skill] FOREIGN KEY([id_skill])
REFERENCES [dbo].[Skill] ([id])
GO
ALTER TABLE [dbo].[user_skill] CHECK CONSTRAINT [FK_user_skill_Skill]
GO
ALTER TABLE [dbo].[user_skill]  WITH CHECK ADD  CONSTRAINT [FK_user_skill_Users] FOREIGN KEY([id_user])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[user_skill] CHECK CONSTRAINT [FK_user_skill_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Account]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1:image, 2: cv' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FileData', @level2type=N'COLUMN',@level2name=N'type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1:bán thời gian, 2: toàn thời gian, 3: theo dự án' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Posts', @level2type=N'COLUMN',@level2name=N'working_method'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: theo dự án, 2: theo giờ, 3: theo tháng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Posts', @level2type=N'COLUMN',@level2name=N'payment_method'
GO
USE [master]
GO
