.menu-item{
  padding: 27px 0 27px 0;
  font-weight: 500 !important;
  cursor: pointer;
}

.menu-item:hover{
  color: #108a00;
}

#dropdown-basic-button{
  background-color: transparent !important;
  border: none;
  color: #5a645a;
  padding: 0%;
}

.Notification{
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecebeb;
  margin-left: 10px;
}
/* .dropdown{
  display: none;
}

.dropdown.active{
  display: block;
} */