.searchItem{
  line-height: 50px;
  width: 227px;
  font-size: 105%;
  text-align: center;
}

.searchItem.active{
  border-bottom: 2px solid black ;
}

.cartPost.card{
  border: none;
  border-bottom: 1px solid #dee2e6;
  border-radius: 0;
}

.paginationBox {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

.page-link:focus.pageLinkActive{
  box-shadow: 0 0 0 0.1rem rgba(94, 133, 103, 0.25) !important;
  /* outline: none !important; */
}
.page-link.pageLinkActive{
  box-shadow: 0 0 0 0 rgba(94, 133, 103, 0.25) !important;
}

.titleFilter {
  font-weight: "500" !important;
  font-size: "95%" !important; 
  color: "#003342" !important;
}

.label {
  display: block;
  width: 12%;
  /* justify-content: space-between; */
  position: relative;
  cursor: pointer;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark,.checkmarkRadio {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid #cacec9;
  border-radius: 6px;
}
.checkmarkRadio{
  border-radius: 50%;
}

/* When the checkbox is checked, add a blue background */
.label input:checked ~ .checkmark,.label input:checked ~ .checkmarkRadio {
  background-color: #074d07;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after, .checkmarkRadio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label input:checked ~ .checkmark:after,.label input:checked ~ .checkmarkRadio:after {
  display: block;
}

/* Style the checkmark/indicator */
.label .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.label .checkmarkRadio:after {
  top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}